<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.community.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.nowcoder.community.community.entity.Comment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="entity_type" jdbcType="INTEGER" property="entityType" />
    <result column="entity_id" jdbcType="INTEGER" property="entityId" />
    <result column="target_id" jdbcType="INTEGER" property="targetId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nowcoder.community.community.entity.Comment" useGeneratedKeys="true" keyProperty="id">
    insert into comment (id, user_id, entity_type, 
      entity_id, target_id, status, 
      create_time, content)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{entityType,jdbcType=INTEGER}, 
      #{entityId,jdbcType=INTEGER}, #{targetId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nowcoder.community.community.entity.Comment">
    update comment
    set user_id = #{userId,jdbcType=INTEGER},
      entity_type = #{entityType,jdbcType=INTEGER},
      entity_id = #{entityId,jdbcType=INTEGER},
      target_id = #{targetId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, entity_type, entity_id, target_id, status, create_time, content
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, entity_type, entity_id, target_id, status, create_time, content
    from comment
  </select>

  <sql id="selectFields">
    id, user_id, entity_type, entity_id, target_id, content, status, create_time
  </sql>

  <sql id="insertFields">
    user_id, entity_type, entity_id, target_id, content, status, create_time
  </sql>

  <select id="selectCommentsByEntity" resultType="Comment">
    select <include refid="selectFields"></include>
    from comment
    where status = 0
    and entity_type = #{entityType}
    and entity_id = #{entityId}
    order by create_time asc
    limit #{offset}, #{limit}
  </select>

  <select id="selectCountByEntity" resultType="int">
    select count(id)
    from comment
    where status = 0
      and entity_type = #{entityType}
      and entity_id = #{entityId}
  </select>

  <insert id="insertComment" parameterType="Comment" useGeneratedKeys="true" keyProperty="id">
    insert into comment(<include refid="insertFields"></include>)
    values(#{userId},#{entityType},#{entityId},#{targetId},#{content},#{status},#{createTime})
  </insert>
</mapper>